@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab&display=swap');
* {
    scroll-behavior: smooth;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 90;
    background:url(gitar\ 7.jpg);
    background-color: black;
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, scroll;
    background-size: 100% 26.2%, 100% 23.2%;
    background-position: top, bottom;
    color: white;
}

.wrapper {
    width: 1200px;
    margin: auto;
    position: relative;
}

.wrapper .guitar {
    float: left;
    margin-top: 10px;
    margin-bottom: -10px;

}


.logo a {
    margin-top: 15px;
    font-size: 50px;
    font-weight: 100;
    float: left;
    font-family: 'Abril Fatface', cursive;
    color: whitesmoke;
}

.menu {
    float: right;
    margin-top: 10px;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #364f6b;
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #ffb13c;
    font-weight: thin;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: #ffffff;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: 1000px;
    font-family: 'Roboto Slab';
    color: white;
}

.kolom_1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom_1 .deskripsi_1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Roboto Slab';
    color: white;
}

h2 {
    font-family: 'Roboto Slab';
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #ffb13c;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #ffb13c;
    color: white;
    text-decoration: none;
}

a.tbl-pink {
    background: #ffb13c;
    border-radius:20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: rgb(53, 53, 53);
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #ffb13c;
    text-decoration: none;
    color: white;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    display: inline-block;
    border: 12px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    color: whitesmoke;
    width: 20%;
    margin: auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 200%;
}

.kartu-tutor p {
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#contact {
    background: url(gitar\ 1.jpg);
    border-radius: 10px;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
    color: whitesmoke;
}

.sosial {
    color : #ffb13c;
}

h3 {
    font-family: 'Roboto Slab';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffb13c;
    width: 100%;
    line-height: 50px;
}

#bawah {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

ul {
    color: rgb(250, 248, 248);
    font-weight: bold;
    list-style: inside;
}

.center {
    text-align: center;
}

button {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.text {
    display: inline-block;
    border: 0.1px solid grey;
    border-radius: 25px;
    font-family: 'poppins';
    text-align: center;
    font-weight: none;
    padding: 10px;
    font: none;
    font-size: 22px;
    color: white;
}

a.anggota {
    background: #ffb13c;
    border-radius:5px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.anggota:hover {
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }
}